@media (min-width: 880px) {
    //custom breakpoint
    .aside {
        flex: 1;
        flex-basis: 20%;
        display: flex;
        flex-direction: column;

        &__container {
            display: flex;
            flex-direction: column;
        }

        &__title{
            font-family: 'Sofia Pro';
            font-style: normal;
            font-weight: 800;
            font-size: 30px;
            line-height: 47px;
            color: $colorBasicBlack;
            margin: 10px 0 44px;
        }

        &__nav-list-item {
            padding-bottom: 11px;
            display: flex;
            align-items: center;
        }

        &__nav-list-link {
            font-family: 'Sofia Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;        
            color: $colorBasicBlack;
            margin-left: 12px;
            padding: 7px 0;
            border-bottom: 2px solid transparent;
            transition-duration: 300ms;
            transition-property: border-bottom-color;

            &:hover {
                border-bottom-color: $colorBasicBlack;                    
            }
        }

        .help-center {
            display: flex;
            margin: auto 0 20px;

            &__link {
                font-family: 'Sofia Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;            
                color: $colorBasicBlack;
                margin-left: 35px;
                padding: 20px 0 7px;
                border-bottom: 2px solid transparent;
                transition-duration: 300ms;
                transition-property: border-bottom-color;
            
                &:hover {
                    border-bottom-color: $colorBasicBlack;
                }
            }
        }
    }
}