.aside { 
    &__mobile-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 15px 15px;
        list-style: none;
        width: 100%;
        right: 0;
        left: 0;
        background-color: $colorBasicWhite;
        position: fixed;
        transform: translateX(-104%);
        transition: transform .3s ease-in-out;
        border-radius: 0 0 8px 8px;
    
        &.show {
            transform: translateX(0)
        }
    
        &-item {
            width: 100%;
            display: flex;
    
            &:not(:last-child) {
                padding-bottom: 15px;
            }
        }
    }

    &__mobile-link {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: $colorActiveRegular;
        width: 100%;
        padding: 7px 0px;
        background-color: $colorGreyBg;
        border-radius: 12px;
        transition-duration: 300ms;
        transition-property: background-color;

        &:hover {
            background-color: $colorGreyHover;
        }

        &.active {
            color: $colorAccent;
        }
    }

    &__container {
        display: none;
    }

    .help-center {
        display: none;
    }
}