$colorBasicWhite: #FFFFFF;
$colorBasicBlack: #000000;
$colorSectionLightBlue: #BCE7F0;
$colorSectionDarkBlue: #001AA2;
$colorSectionOrange: #FD2E24;
$colorGreyBg: #f5f5fa;
$colorGreyHover: #e6e6f0;
$colorGreyText: #b3b3ba;
$colorAccent: #f0145a;
$colorActiveRegular: #24a3ff;
