.header {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 0 47px;

    .logo-link {
        border-radius: 24px;
        display: flex;
        height: auto;
        max-width: 110px;

        &:hover {
            cursor: pointer;
            background-color: $colorGreyHover;
        }
    }

    &__top-line {
        display: flex;
        flex-wrap: nowrap;
    }

    &__button-wrap {
        display: flex;
        flex-wrap: nowrap;
    }

    .menu-btn,
    .aside-menu-btn,
    .basket-btn,
    .userlog-btn,
    .search-form__button {        
        background-color: $colorBasicWhite;
        background-position: center center;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        border: 0;
        border-radius: 8px;
        margin-left: 10px;
        transition-duration: 300ms;
        transition-property: background-color;

        &:hover {
            cursor: pointer;
            background-color: $colorGreyHover;
        }

        &.show {
            background-image: url(../img/close-btn.svg);
        }
    }

    .menu-btn {
        background-image: url(../img/menu-hamburger.svg);
    }
    .aside-menu-btn {
        background-image: url(../img/menu-three-dots.svg);
    }

    .basket-btn {
        background-image: url(../img/basket.svg);
    }

    .userlog-btn {
        background-image: url(../img/person.svg);
    }

    .search-form {   
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;        

        &__button {
            background-image: url(../img/search.svg);
        }

        &__input {
            background-color: transparent;
            border: transparent;
            height: 32px;
            font-family: 'Circular Std';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            color: $colorBasicBlack;
            margin-left: 10px;
            width: 134px;

            &::placeholder {
                font-family: 'Circular Std';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 22px;
                color: $colorBasicBlack;
                opacity: 0.2;
            }
        }
    }    

    &__mobile-nav-list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 15px 15px;
        list-style: none;
        width: 100%;
        right: 0;
        left: 0;
        background-color: $colorBasicWhite;
        position: fixed;
        transform: translateX(104%);
        transition: transform .3s ease-in-out;
        border-radius: 0 0 8px 8px;

        &.show {
            transform: translateX(0)
        }

        &-item {
            width: 100%;
            display: flex;

            &:not(:last-child) {
                padding-bottom: 15px;
            }
        }
    }

    &__mobile-link {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: $colorActiveRegular;
        width: 100%;
        padding: 7px 0px;
        background-color: $colorGreyBg;
        border-radius: 12px;
        transition-duration: 300ms;
        transition-property: background-color;

        &:hover {
            background-color: $colorGreyHover;
        }

        &.active {
            color: $colorAccent;
        }
    }

    &__nav-list {
        display: none;
    }

}